
body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
em, i {
    font-style: normal;
}
li {
    list-style: outside none none;
}
td, th {
    text-align: center;
}
strong {
    font-weight: normal;
}
a, a:hover {
    text-decoration: none;
}
img {
    border: medium none;
    vertical-align: top;
}
table {
    border-collapse: collapse;
}
input, textarea, button, select, a {
    outline: medium none !important;
}
textarea {
    overflow: auto !important;
    resize: none;
}
html, body, .container-fluid {
}
body {
    color: #666;
    font-family: "微软雅黑",Arial;
    font-size: 12px;
    position: relative;
    overflow-x: auto;
    min-height: 935px;
}
::-webkit-scrollbar/*整体部分*/
{
width: 5px;
height:5px;
}


::-webkit-scrollbar-thumb/*滑块*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: #99cccc;
margin-right: 5px;
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.4);
}
.container-fluid {
    min-width: 1035px;
} 
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}
.row-top-10{
    margin-top: 10px;
}
.row-top-20{
    margin-top: 20px;
}
.row-border-bottom{
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff;
}
/*  头部样式 */
#head {
    background: #eceff1 none repeat scroll 0 0;
    height: 85px;
    line-height: 85px;
    border-bottom: 1px solid #cfd8dc;
}
#head h1 {
    float: left;
    margin-left: 23px;
    padding-top: 10px;
    font-size: 18px;
}
#head h1 a{
    display: inline-block;
}
#head h1 a img,#head h1 a span{
    vertical-align: middle;
    color: #333;
}
#head h1 a span{
    display: inline-block;
    margin: 13px 0 0 10px;
    font-weight: bold;
}
#head ul {
    color: #333;
    float: right;
    height: 85px;
    padding-right: 20px;
}

#head ul li {
    float: left;
}
#head ul li i{
    color: #0099cc;
    margin-right: 5px;
}
#head ul li:first-child {
    margin-right: 18px;
}
#head ul li:nth-child(2) {
    margin-right: 12px;
}
#head ul a {
    color: #333;
}
/* 内容页样式 */
.mainArea {
    background-color: #fff;
    position: relative;
}
.mainArea > .content {
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}
.page-content {
    margin-left: 219px;
}
.mainArea > .content > a {
    white-space: nowrap;
    width: calc(100% + 120px);
}
.footArea {
    background-color: #eceff1;
    bottom: 0;
    height: 60px;
    margin-bottom: -50px;
    margin-left: 0;
    width: 100%;
    z-index: 13;
}
.footArea textarea {
    background-color: #ffffff;
    float: left;
    height: 28px;
    margin-top: 1px;
    resize: none;
    width: calc(100% - 80px);
}
.footArea button {
    float: right;
    height: 28px;
    margin-top: 1px;
    width: 80px;
}
.con-wrap {
    margin: 0 30px 0px 30px;
    padding: 10px 20px 0;
    
}
.con-wrap-border{
    border: 1px solid #ececec;
}
.page-sidebar {
    background: #eaeaea none repeat scroll 0 0;
    border-right: 1px solid #ececec;
    height: 100%;
    min-height: 860px;
    position: absolute;
    width: 220px;
    z-index: 2;
}
.page-sidebar .nav.sidebar-menu {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    min-height: 860px;
    width: 219px;
}
.page-sidebar > .sidebar-menu > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.page-sidebar .nav a {
    color: #333;
    padding: 0;
    position: relative;
}
.page-sidebar > .sidebar-menu > li > a {
    border-bottom: 1px solid #f0f0f0;
    display: block;
}
.page-sidebar .nav.sidebar-menu li > a > i {
    color: #666;
    display: inline-block;
    font-size: 18px;
    text-indent: 0;
}
.page-sidebar .nav.sidebar-menu > li > a {
    line-height: 40px;
    text-indent: 24px;
}
.page-sidebar .nav.sidebar-menu > li > a > span {
    left: 23px;
    position: relative;
    top: -2px;
}
.page-sidebar .sidebar-menu > li > a:hover {
    background-color: #fafafa;
    border-color: #f0f0f0;
}
.page-sidebar .sidebar-menu > li.active > a:hover,.page-sidebar .sidebar-menu > li > a:focus{
    background: none !important;
}
.page-sidebar > ul > li.active {
    background: #0099cc;
}
.page-sidebar > ul > li.active a,.page-sidebar .nav.sidebar-menu li.active > a > i{
    color: #fff;
}
ul.sidebar-menu-shadow {
    box-shadow: -3px -3px 5px #fafafa inset;
}
ul.sidebar-menu-shadowd {
    box-shadow: -3px -3px 5px #1868b6 inset;
}
.pare-head{
    padding:25px 30px 10px;
}
.pare-head dl {
    height: 50px;
}
.pare-head dl dt {
    font-family: "微软雅黑";
    font-size: 16px;
}
.pare-head dl dt {
    color: #666;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: normal;
}
.pare-head dl dd {
    height: 20px;
}
.pare-head .crumbs {
}
.pare-head .crumbs li {
    color: #999;
    float: left;
    font-family: "微软雅黑";
    height: 21px;
    line-height: 29px;
    margin-right: 8px;
    overflow: hidden;
}
.pare-head .crumbs li i {
    color: #d7d7d7;
}

/* 下拉框 */
.bg-date {
    color: #666;
    height: 30px;
    line-height: 30px;
    margin-right:15px;
    font-size: 12px;
    font-weight: 700;
}
.select {
    height: 30px;
    position: relative;
}
.select cite {
    background: rgba(0, 0, 0, 0) url("../images/caret.png") no-repeat scroll 95% center;
    border: 1px solid #ececec;
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: block;
    font-style: normal;
    height: 30px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 30px;
    width: auto;
    min-width: 232px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.select ol {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #ececec;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    margin-top: -1px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.select ol li {
    height: 25px;
    line-height: 24px;
}
.select ol li a {
    color: #666;
    display: block;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.select ol li a:hover {
    background-color: #f5f5f5;
}
.select-text {
    display: none !important;
}
.search-input{
    border: 1px solid #ececec;
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: block;
    font-style: normal;
    height: 30px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 30px;
    width: auto;
    min-width: 232px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.col-special{
    padding-left: 0px;
    margin-left: -2px;
}
.btn{
    width: 96px;
    height: 38px;
    background: #0099cc;
    color: #fff;
}
.btn.btn-enter{
    margin-left: 10px;
}
.btn.btn-search{
    margin-right: 40px;
}
.btn.btn-search i{
    margin-left: -5px;
    margin-right: 4px;
}
.table-jy{
    width: 100%;
}
.table-jy tr th,.table-jy tr td{
    padding: 10px 0;
    text-align: left;
}
.table-jy tr{
    border-bottom: 1px solid #e7ebed;
    text-align: left;
}
.table-jy tr:last-child{
    border-bottom: none;
}
.table-jy tr:first-child{
    border-bottom: 2px solid #e7ebed;
}
.table-jy tr td a{
    color: #3399ff;
    display: inline-block;
    margin: 0 5px;
}

/* 分页 */
.ng-pagination {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #337ab7;
  float: right;
  
}

.ng-pagination>ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  border:1px solid #ddd;
  margin-right: 5px;
}

.ng-pagination>ul>li {
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  border-right: 1px solid #ddd;
  background: #fff;
}
.ng-pagination>ul>li:last-child{
    border-right: 0;
}
.ng-pagination>ul>li:hover,
.ng-pagination>ul>li.active {
  background-color: #039be5;
  color: #fff;
}

.ng-pagination input {
  margin-left: 2px;
  width: 30px;
  border-radius: 2px;
  border: 1px solid #ddd;
  vertical-align: 1px;
  text-align: center;
  padding: 6px 3px;
}
.pager_total{
    float: left;
    margin-top: 10px
}
.pager_total span{
    color: #f7756c;
    padding: 0 2px;
}
.h1_title{
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 58px;
}
.h1_title span{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.btn-view{
    width: 118px;
    height: 40px;
    font-size: 16px;
    background: #fff;
    border:1px solid #0099cc;
    color: #3399ff;
}
.btn-manage{
    width: 80px;
    height: 30px;
    font-size: 12px;
    background: #039be5;
    color: #fff;
}
.btn-view i {
    font-size: 14px;
    font-weight: bolder;
    margin-right: 10px;
}
.col-left{
    background:#f5f5f5;
    padding:10px;
    height: 100%;
    position: absolute;
    width: 209px;
}
.col-right{
    margin-left: 210px;
}
.col-left p{
    margin-top:10px;
    text-align: center;
}
.col-right .tab-ul{
    text-align: center;
    width: 315px;
    margin: 20px auto;
}
.col-right .tab-ul li{
    float: left;
    width: 105px;
    height: 32px;
    border:1px solid #0099cc;
    line-height: 30px;

}
.col-right .tab-ul li.active{
    background: #0099cc;
}
.col-right .tab-ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #3399ff;
}
.col-right .tab-ul li.active a{
    color: #fff;
}
.col-right .tab-ul li a i{
    margin-right: 5px;
}
.infoPanel{
    position: relative;
    height: 100%;
    min-height: 600px;
}
.infoPanel .userPic{
    position: absolute;
    left: 40%;
    top:15%;
}
.infoPanel.match-infoPanel .userPic{
    top:29%;
}
.infoPanel .line{
    position: absolute;
    z-index: 10;
}
.line.line1{
    top: 10%;
    left: 35%;
}
.infoPanel.match-infoPanel .line.line1{
    top: 24%;
    left: 35%;
}
.line.line2{
    top: 7%;
    right: 34%;
}
.infoPanel.match-infoPanel .line.line2{
    top: 21%;
    right: 34%;
}
.line.line3{
    top: 37%;
    left:33%;
}
.infoPanel.match-infoPanel .line.line3{
    top: 51%;
    left:33%;
}
.line.line4{
    top: 36%;
    right:35%;
}
.infoPanel.match-infoPanel .line.line4{
    top: 50%;
    right:35%;
}
.line.line5{
    top: 42%;
    left:45%;
}
.infoPanel.match-infoPanel .line.line5{
    top: 64%;
    left:45%;
}
.infoPanel.match-infoPanel .line.line6{
    top: 5%;
    left:38%;
}
.panel{
    position: absolute;
    min-width: 216px;
    min-height: 180px;
    width: auto;
    height: auto;
    box-shadow: none;
    margin-bottom: 0;    
}
.panel.panel-jd{
    left: 10%;
    top: 5%;
}
.infoPanel.match-infoPanel .panel.panel-jd{
    left: 10%;
    top: 19%;
}
.panel.panel-work{
    right: 10%;
    top: 3%;
}
.infoPanel.match-infoPanel .panel.panel-work{
    right: 10%;
    top: 17%;
}
.panel.panel-need{
    left: 10%;
    top: 44%;
}
.infoPanel.match-infoPanel .panel.panel-need{
    left: 10%;
    top: 58%;
}
.panel.panel-duty{
    right: 9%;
    top: 42%;
}
.infoPanel.match-infoPanel .panel.panel-duty{
    right: 9%;
    top: 56%;
}
.panel.panel-recommend{
    min-height: 0;
    height: 90px;
    left: 37%;
}
.panel.panel-education{
    min-width: 492px;
    min-height: 225px;
    left: 23%;
    top:77%;
}
.panel.panel-recommend .panel-title{
    padding: 0;
    float: none;
    margin: 0 auto;
}
.panel .panel-title{
    width: 115px;
    height: 31px;
    background: #eceff1;
    border: 1px solid #ccc;
    border-left-width: 2px;
    border-right-width: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    float: right;
    border-radius: 3px;
}
.panel.panel-work .panel-title,.panel.panel-duty .panel-title{
    float: left;
    border-right-width: 2px;
    border-left-width: 5px;
}
.panel.panel-education .panel-title{
    margin: 0 auto;
    float: none;
}
.panel .panel-title i{
    margin-right: 5px;
}
.panel.panel-duty .panel-content{
    padding: 20px 10px;
    min-height: 100px;
}
.panel.panel-education .panel-content{
    height: 340px;
}
.panel .panel-content {
    clear:both;
    min-width: 214px;
    min-height: 120px;
    border: 1px solid #eceff1; 
    padding: 20px; 
    position: relative;
    top:15px;
}
.panel .panel-content.recommend{
    min-height: 0;
    border:none;
    padding:0;
}
.panel-content .arrow{
    position: absolute;
    width: 0; 
    height: 0; 
    font-size: 0; 
    border-width: 8px;
    border-style: dashed dashed solid dashed; 
}
.panel-jd .panel-content .outer-border,.panel-need .panel-content .outer-border{   
    left: 180px; 
    top: -16px;   
    border-color: transparent transparent #eceff1 transparent;
}
.panel-jd .panel-content .inner-border,.panel-need .panel-content .inner-border{ 
    left: 180px; 
    top: -14px; 
    border-color: transparent transparent #FFF transparent;
}
.panel-work .panel-content .outer-border,.panel-duty .panel-content .outer-border{   
    left: 15px; 
    top: -16px;   
    border-color: transparent transparent #eceff1 transparent;
}
.panel-work .panel-content .inner-border,.panel-duty .panel-content .inner-border{ 
    left: 15px; 
    top: -14px; 
    border-color: transparent transparent #FFF transparent;
}
.panel-education .panel-content .inner-border{ 
    left: 230px; 
    top: -14px; 
    border-color: transparent transparent #FFF transparent;
}
.panel-education .panel-content .outer-border{   
    left: 230px; 
    top: -16px;   
    border-color: transparent transparent #eceff1 transparent;
}
.panel-duty .panel-table{
    min-width: 212px;
}
.panel-table{
    min-width: 172px;
    margin-bottom: 0;
}
.panel-table .table-left,.panel-table .table-right{
    margin: 5px 0;
    padding: 4px 10px;
    display: inline-block;

}
.panel-table .table-duty{
    width: 31%;
    background: #ffb74d;
    color: #fff;
    margin: 4px 2px;
    padding: 4px;
    display: inline-block;
    border-radius: 3px;
}
.panel-table .table-left{
    width: 40%;
    background: #80cbc4;  
    text-align: right;
    border-radius: 3px 0 0 3px;
    color: #fff;
}
.panel-table .table-right{
     width: 60%;
     background: #cfd8dc;
     text-align: left;
     border-radius: 0 3px 3px 0;
}
.panel-work .panel-table .table-left{
    width: 40%;
    background: #81d4fa;  
    text-align: right;
    border-radius: 3px 0 0 3px;
}
.panel-need .panel-table .table-left{
    width: 40%;
    background: #f48fb1;  
    text-align: right;
    border-radius: 3px 0 0 3px;
}
.charts_warp{
    width: 100%;
    height: 100%;
}
.langues-title{
    background: #81d4fa;
    text-align: center;
    line-height: 24px;
    color: #fff;
    width: 70px;
    height: 25px;
    border-radius: 3px;
}
.langues-title~div{
    padding: 0
}
.btn-view:hover,.btn-manage:hover,.btn-view.active,.btn-view.active:hover{
    background: #039be5;
    color: #fff;
}
.panel-border{
    border: 1px solid #ececec;
    border-radius: 3px;
    padding-bottom: 20px;
}
.panel-view-title{
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.row-info{
    background:#e1f5fe;
    padding:10px;
}
.row-info span{
    margin:5px 20px;
    color:#3399ff;
    font-size:14px;
}
.btn-match{
    width: 93px;
    height: 30px;
    font-size: 14px;
    background: #fff;
    color: #60b1f6;
    border-radius: 0px;
}
.btn-match.active{
    background: #039be5;
    color: #fff;
    box-shadow: none;
}
.btn-match:hover{
    box-shadow: none;
    color:#60b1f6;
    z-index: 0 
}
.btn-match.active:hover{
    color: #fff;
}

.ul-con-left{
    height:100%;
}
.ul-con-left h2{
    position:relative;
    height:35px;
    line-height:35px;
    font-size:14px;
    color:#3399ff;
    padding:0 14px 0 35px;
}
.ul-match-add h2{
    padding-left: 41px;
}
.ul-con-left>ul{
    position:relative;
    margin-top:10px;
}
.ul-con-left>ul>li{
    margin-bottom:20px;
}
.ul-con-left.ul-match-add>ul>li{
    margin-bottom:10px;
}
.ul-con-left li.ul-vertline{
    padding: 12px 0 0 29px;
}
.ul-con-left.ul-match-add li.ul-vertline{
    padding: 5px 0 0 29px;
}
.ul-con-left>ul ul{
    padding-left:30px;
    display: none;
}
.ul-con-left.ul-match-add>ul ul{
    padding-left: 0;
}
.ul-con-left.ul-match-add>ul ul.no-menu{
    padding-left: 30px
}
.ul-con-left>ul ul.open{
    display: block;
}
.ul-con-left>ul h3{
    position:relative;
    height:20px;
    font-size:13px;
    color:#333;
}
.ul-toggle{
    display:inline-block;
    width:15px;
    height:15px;
    background:#3399ff;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    line-height:12px;
    border-radius:2px;
    cursor:pointer;
    margin:0 10px;
}
.ul-match-add .ul-toggle{
    margin:0 13px;
}
.ul-check{
    width:16px;
    height:16px;
    border:1px solid #2196f3;
    background:#fff;
    display:inline-block;
    vertical-align:sub;
    margin-right:8px;
    cursor: pointer;
}
.ul-check.checked{
    background: url("../images/checked.png") no-repeat;
    border: none;
}
.ul-check.checkAll{
    margin-right: 4px;
}
.match-higher{
    border-bottom:1px dashed #ccc;
    padding-bottom:15px;
}
.match-higher .match-title{
    margin:20px 0;
}
.match-higher .match-content{
    margin-bottom:10px;
}
.match-content span{
    display:inline-block;
    height:25px;
    line-height:26px;
    color:#fff;
    text-align: center;
}
.match-content span.match-content-left{
    width: 75px;
    background:#f48fb1;
}
.match-higher:first-child .match-content span.match-content-left{
    background:#81d4fa;
}
.match-higher:last-child .match-content span.match-content-left{
    background:#a5d6a7;
}
.match-content span.match-content-right{
    width:85px;
    background:#cdd8dc;
    margin:0 5px 0 -4px;
    color: #666;
}
.match-content i{
    color:#42a5f5;
    cursor:pointer;
}
button.btn-match-add{
    width:70px;
    height:20px;
    font-size:12px;
    background:#fff;
    color:#3399ff;
    padding:0;
    border:1px solid #0099cc;
    border-radius:2px;
}
button.btn-match-add:hover,button.btn-match-add:focus{
    color: #3399ff;
}
.ul-match-add{
    position:absolute;
    background:#fafafa;
    border:1px solid #ccc;
    min-width:220px;
    left:25px;
    z-index:2;
    max-height: 550px;
    overflow-y:auto;
    display: none;
    padding:0 10px 20px;
    height: auto;
}
.btn-matchgroup{
    margin-left: 10px;
}
.btn-matchgroup button{
    width:73px;
    height:22px;
    background:#0099cc;
    color:#fff;
    border:none;
    border-radius:3px;
}
.btn-matchgroup button:last-child{
  background:#fff;
  color:#3399ff;
  border:1px solid #3399ff;
}

/* tree */
.treeform{
    padding-left: 20px;
}
#nav {
  margin-top:5px;
  padding-bottom:17px;
  cursor:pointer;
  color: #333;
  font-family: "寰蒋闆呴粦", Arial;
  /*background: url(../images/treeview-line.gif) 0 0px repeat-y;*/
  overflow:hidden;
}
#nav.nav-pl-2{
  background: url(../images/treeview-line.gif) 0 0px repeat-y;
}
#nav>li {
  /*overflow: hidden;*/
  padding-bottom: 30px;
  /*background: url(../images/dot.png) 0 10px repeat-x*/
}
#nav>li:last-child {
  padding-bottom:0;
}
/*#nav .list>li{
    margin-bottom:14px;
}*/
#nav .title p,#nav .title>span{
  display:inline-block;
  /*background-color:#fff;*/
}

#nav .list {/* liutao */
  padding:16px 0 30px 19px;
  margin:-10px 0 -25px;
  display: none;
  /*background:url(../images/treeview-default-line.gif) 34px -191px no-repeat;*/
}
#nav .list>li {/*1-1*/
  font-size: 12px;
  padding: 10px 0 0px 16px;
  position:relative;
  background: url(../images/treeview-line.gif) 15px 15px repeat-y;
}
#nav .list .title>ul { /*liutao*/
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: right;
  position: absolute;
  z-index:3;
}
#nav .title {
  font-size: 16px;
    position:relative;
  /*background: url(../images/dot.png) 0 20px repeat-x;*/
  /*padding: 0 15px;*/
}
#nav .title span:after,.w_last>span:after,.wcrow_last>span:after{
  /*content:'';
  background:url(../images/line.jpg) no-repeat;*/
  display:inline-block;
  width:8px;
  height:6px;
}
#w_button{
  width:123px;
  /*height:28px;*/
  height:22px;
  background:#fff;
  border:1px solid #43a5f5;
  color:#43a5f5;
  /*font-size:15px;*/
  font-size:12px;
  border-radius:2px;
  margin-bottom:15px;
}
#w_button:hover {
  background: #2196f3;
  color: #fff;
}
.w_c43a5f5{
  color:#43a5f5;
  /*margin-right:12px;*/
  font-size:18px;
  background-color: #fff;
}
.w_bg .w_c43a5f5 {
  background: #fafafa;
}
.w_border{
  position: relative;
  display:inline-block;
  border:1px solid #ececec;
  border-radius:3px;
  height:40px;
  line-height:40px;
  padding-left: 12px; /* 1-1 */
  background:transparent;
  width:calc(100% - 70px);
  font-size: 14px;
  /*z-index: 5;*/
}
.w_border strong{
    color: #999;
    margin-left: 15px;
    position: relative;
    left: 20px;
}
.w_border:hover{
  border: 1px solid #43a5f5;
}
.w_relative{
  font-size: 16px;
  position:relative;
  height: 40px;
  line-height: 40px;
  padding-right:13px;
  padding-left:9px;
  left: 27px;
}
.w_before:before {
  content: '';
  left:-20px;
  top: 0;
  position: absolute;
  height: 38px;
  width: 20px;
  background:url(../images/dot.png) 0 16px repeat-x;
}
.w_own,.w_scale{
  position:relative;
  background: none;
}
.w_own{
  font-size: 14px;
  color: #999;
  right:80px;
  line-height:40px;
  background: #e7eaec;
  width: 300px;
  height: 10px;
  border-radius: 10px;
}
.w_scale{
  font-size: 13px;
  color: #999;
  width: 140px;
  line-height:20px;
  text-align: left;
}
.w_own strong{
  background: #4db6ac;
  position: absolute;
  left: 0;
  height: 10px;
  width: 10%;
  border-radius: 5px;
}

.w_scale strong{
  color:#4db6ac;
}
.w_scale .scale{
  position:absolute;
  display:block;
  width:140px;
  height:5px;
  background:#e7eaec;
  border-radius:4px;
}
.w_scale .scale i{
  position:absolute;
  left:0;
  top:0;
  width:10px;
  height:100%;
  background:#4db6ac;
  border-radius:4px;
}
.fa-line {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 16px;
  background: url(../images/dot.png) 0 10px repeat-x;
}
#nav > li {
  position: relative;
}
.list>li:last-child:after {
  content: '';
  position: absolute;
  top: 38px;
  left: 16px;
  background-color: #fff;
  width: 15px;
  height: 41px;
}
#title p,#title span{
  display: inline-block;
}
#title{
  font-size: 16px;
}
#nav-pl .nav-pl{
  padding: 10px 0 0px ;
  margin: 5px 0 -25px 35px;
}
#nav-pl .nav-pl>li{
  position: relative;
  padding: 10px 0 15px ;
}
.nav-pl>li:last-child:after {
  content: '';
  position: absolute;
  top: 41px;
  left: 5px;
  background-color: #fff;
  width: 15px;
  height: 41px;
}
.nav-pl-2>li:last-child:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 5px;
  background-color: #fff;
  width: 15px;
  height: 62px;
}
#nav .title>ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: right;
  position: absolute;
  z-index: 1;
}
#nav .title .open {
  position: absolute;
  width: calc(100% - 64px);
  height: 36px;
  bottom:-10px;
  z-index: 8;
}
.empty{
  width: 15px;
  background-color: #fff;
  position: absolute;
  top: 80px;
}
.z_border{
  height:40px;
  line-height:40px;
  padding-left: 10px;
  border: 1px solid #ececec;
  border-radius: 3px;
  display: inline-block;
  width: calc(100% - 70px);
}
/* tree end */
.match-panel{
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
.match-panel p{
    text-align: left;
}