<div class="page-content clearfix post-entry">
  <div class="pare-head clearfix">
    <dl class="pull-left">
      <dt>岗位管理</dt>
      <dd>
        <ol class="crumbs clearfix">
          <li>岗位管理</li>
          <li> <i class="fa fa-chevron-right"></i> </li>
          <li>岗位录入</li>
        </ol>
      </dd>
    </dl>
  </div>
  <div class="con-wrap entry-con entry-con3">
    <div class="entry-con-tab clearfix">
      <p class="pull-left tab1"></p>
      <p class="pull-left tab2"></p>
      <p class="pull-left tab33"></p>
    </div>
    <h2>JD信息</h2>
    <div class="info-show">
      <div class="clearfix">
        <span class="pull-left">来源公司：</span>
        <p class="pull-left">华为</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">目标公司：</span>
        <p class="pull-left">IBM</p>
      </div>
    </div>
    <h2>基本信息</h2>
    <div class="info-show">
      <div class="clearfix">
        <span class="pull-left">岗位名称：</span>
        <p class="pull-left">无线网络架构师</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">岗位职责：</span>
        <p class="pull-left">{{jobResMust}}</p>
      </div><div class="clearfix">
        <span class="pull-left">所属行业：</span>
        <p class="pull-left">互联网</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">年薪范围：</span>
        <p class="pull-left">50-100万</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">工作地点：</span>
        <p class="pull-left">北京</p>
      </div>
    </div>
    <h2>基本要求</h2>
    <div class="info-show">
      <div class="clearfix">
        <span class="pull-left">年龄：</span>
        <p class="pull-left">28-33岁</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">工作年限：</span>
        <p class="pull-left">5年及以上</p>
      </div>
    </div>
    <h2>语言能力</h2>
    <div class="info-show">
      <div class="clearfix">
        <span class="pull-left">熟练程度：</span>
        <p class="pull-left">读写精通</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">听说能力：</span>
        <p class="pull-left">良好</p>
      </div>
      <div class="clearfix">
        <span class="pull-left">读写能力：</span>
        <p class="pull-left">良好</p>
      </div>
    </div>
    
    <div class="entry-con-btn">
      <a href="#post_entry2"><input type="button" class="btn entry-next" value="上一步" /></a>
      <input type="button" class="btn entry-next" value="保存" />
      <input type="button" class="btn entry-cancel" value="取消" />
    </div>
  </div>

</div>