<div class="page-content clearfix">
    <div class="pare-head clearfix">
        <dl class="pull-left">
            <dt>岗位管理</dt>
            <dd>
                <ol class="crumbs clearfix">
                    <li><a href="#manage">岗位管理</a></li>
                    <li> <i class="fa fa-chevron-right"></i> </li>
                    <li>岗位微观画像</li>               
                </ol>
            </dd>
        </dl>
    </div>
    <div class="con-wrap">
    	<div class="row row-border-bottom">
    		 <h1 class="pull-left h1_title">{{ infoData.positionName }}<span>ID:{{ infoData.positionNum }}</span></h1>
    		 <a href="#/manage_view/{{ id }}" class="pull-right btn btn-default btn-view"><i class="fa fa-chevron-left"></i>决策洞察</a>
    	</div>
    	<div class="row">
	    	<div class="col-left">
	    		<p>录入时间：{{ infoData.addTime }}</p>
	    		<p>更新时间：{{ infoData.modifyTime }}</p>
	    	</div>
	    	<div class="col-right">
	    		<ul class="clearfix tab-ul">
	    			<li class="active"><a href="#/manage_userImg/{{ id }}"><i class="fa fa-pie-chart"></i>概括</a></li>
	    			<li><a href="#/manage_userDetail/{{ id }}"><i class="fa fa-list"></i>详情</a></li>
	    			<li><a href="#/manage_jdInfo/{{ id }}"><i class="glyphicon glyphicon-send"></i>JD信息</a></li>
	    		</ul>
	    		<div class="infoPanel">
            <img class="userPic" src="{{ imgSrc }}" alt="">
            <img class="line line1" src="static/images/line1.png" alt="">
            <img class="line line2" src="static/images/line2.png" alt="">
            <img class="line line3" src="static/images/line3.png" alt="">
            <img class="line line4" src="static/images/line4.png" alt="">
	    			<div class="panel panel-{{ itemInfo[item.tips].class }}" ng-repeat="item in items">
	    				<div class="panel-title"><i class="fa {{ itemInfo[item.tips].icon }}"></i>{{ itemInfo[item.tips].title }}</div>
              <div class="panel-content">
                  <span class="arrow outer-border"></span>
                  <span class="arrow inner-border"></span>
                  <table class="table panel-table">
                      <tr ng-if="itemInfo[item.tips].class != 'duty'" ng-repeat="content in item.content">
                          <td class="table-left">{{ content.left }}</td>
                          <td class="table-right">{{ content.right}}</td>
                      </tr>
                      <tr ng-if="itemInfo[item.tips].class=='duty'">
                        <td ng-repeat="content in item.content"  class="table-duty">{{content}}</td>
                      </tr>
                  </table>
              </div>
	    			</div>              
	    		</div>
	    	</div>
	    </div>
    </div>    
</div>