<div class="page-content clearfix post-entry">
  <div class="pare-head clearfix">
    <dl class="pull-left">
      <dt>岗位管理</dt>
      <dd>
        <ol class="crumbs clearfix">
          <li>岗位管理</li>
          <li> <i class="fa fa-chevron-right"></i> </li>
          <li>岗位录入</li>
        </ol>
      </dd>
    </dl>
  </div>
  <div class="con-wrap entry-con entry-con2">
    <div class="entry-con-tab clearfix">
      <p class="pull-left tab1"></p>
      <p class="pull-left tab22"></p>
      <p class="pull-left tab3"></p>
    </div>
    <h2>基本要求</h2>
    <div class="info-tit">
      <div class="clearfix">
        <label class="pull-left">性别：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;">haha</a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix">
        <label class="pull-left">年龄：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
          <ol>
              <li ng-repeat="names in part"><a href="javascript:;">haha</a></li>
          </ol>
        </div>
        <span class="pull-left db-tip">（多选）</span>
      </div>
      <div class="clearfix">
        <label class="pull-left">工作年限：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;">haha</a></li>
          </ol>
        </div>
        <span class="pull-left db-tip">（多选）</span>
      </div>
      <div class="clearfix">
        <label class="pull-left">家庭所在地：</label>
        <input type="text" class="search-input pull-left" ng-model="customerInfoMust" />
      </div>
      <div class="clearfix">
        <label class="pull-left">婚姻状况：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;">haha</a></li>
          </ol>
        </div>
      </div>
    </div>
    <h2>教育要求</h2>
    <div class="info-tit">
      <div class="clearfix">
        <label class="pull-left">学历/学位：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix">
        <label class="pull-left">专业要求：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix">
        <label class="pull-left">是否211：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix">
        <label class="pull-left">是否985：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix">
        <label class="pull-left">全日制统招：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
    </div>
    <h2>证书要求</h2>
    <div class="info-tit">
      <div class="clearfix">
        <label class="pull-left">证书名称：</label>
        <textarea class=" pull-left" ng-model="itemRespon" ></textarea>
      </div>
    </div>
    <h2>背景要求</h2>
    <div class="info-tit">
      <div class="clearfix">
        <label class="pull-left">有无配偶：</label>
        <div class="select pull-left">
          <cite id="positionLevel"></cite>
           <ol>
              <li ng-repeat="names in part"><a href="javascript:;"></a></li>
          </ol>
        </div>
      </div>
    </div>
    <h2>语言能力</h2>
    <div class="info-tit">
      <div class="lang-ability clearfix">
        <span class="pull-left">普通话</span>
        <span class="pull-left">英语</span>
        <span class="pull-left">法语</span>
        <span class="pull-left">日语</span>
        <span class="pull-left">韩语</span>
        <span class="pull-left">德语</span>
        <span class="pull-left">俄语</span>
        <span class="pull-left">西班牙语</span>
        <span class="pull-left">葡萄牙语</span>
        <span class="pull-left">阿拉伯语</span>
        <span class="pull-left">意大利语</span>
        <span class="pull-left">粤语</span>
        <span class="pull-left">其他</span>
        <span class="pull-left">俄语</span>
      </div>
      <div class="clearfix">
        <label class="pull-left">有无配偶：</label>
        <textarea class=" pull-left" ng-model="itemRespon" ></textarea>
      </div>
    </div>
    
    <div class="entry-con-btn">
      <a href="#/manage_entry"><input type="button" class="btn entry-next" value="上一步" /></a>
      <a href="#/manage_entry3"><input type="button" class="btn entry-next" value="下一步" /></a>
      <input type="button" class="btn entry-cancel" value="取消" />
    </div>
  </div>
</div>