<div class="page-content clearfix">
    <div class="pare-head clearfix">
        <dl class="pull-left">
            <dt>岗位管理</dt>
            <dd>
                <ol class="crumbs clearfix">
                    <li>岗位管理</li>
                    <li> <i class="icon-angle-right"></i> </li>
                    <li>岗位围观画像</li>               
                </ol>
            </dd>
        </dl>
    </div>
    <div class="con-wrap">
    	<div class="row row-top-20 row-border-bottom">
    		 <h1 class="pull-left h1_title">{{ work }}<span>ID:{{ pid }}</span></h1>
    		 <a href="#" class="pull-right btn btn-default btn-view"><i class="icon-angle-left"></i>决策洞察</a>
    	</div>
    </div>
    <div class="row">
    	
    </div>
</div>