<div class="page-content clearfix normalize-list">
    <div class="pare-head clearfix">
        <dl class="pull-left">
            <dt>公司分析</dt>
            <dd>
                <ol class="crumbs clearfix">
                    <li>公司列表</li>  
                    <li> <i class="fa fa-chevron-right"></i> </li>
                    <li>公司名称归一</li>   
                </ol>
            </dd>
        </dl>
    </div>
    <div class="list-con con-wrap con-wrap-border">
      <h3>公司归一列表</h3>
      <div class="list-con-head clearfix">
        <a href="#company_normalize"><input type="button" class="btn pull-left" value="新增公司" /></a>
        <div class="pull-right search-btn">
          <i class="search-icon"></i>
          <input class="btn" type="button" value="搜索" ng-click="search()"/>
        </div>
        <div class="select pull-right" ng-click="showList($event)">
        <input type="text" placeholder="按部门名称查找" readonly>
          <ol>
            <li ng-click="choseList(list,companyList,$event)"><a href="javascript:;">全部</a></li>
            <li ng-click="choseList(list,companyList,$event)" ng-repeat="list in searchList"><a href="javascript:;">{{list}}</a></li>
          </ol>
        </div>
      </div>
      <table class="list-con-table table">
        <tr>
          <th>序号</th>
          <th>归一化名称</th>
          <th>替代名称</th>
          <th>公司新增时间</th>
          <th>最后更新时间</th>
          <th>操作</th>
        </tr>
        <tr ng-repeat="data in normalizeList">
          <td>{{ $index + 1 }}</td>
          <td>{{data.normalizationName}}</td>
          <td>{{data.replaceName}}</td>
          <td>{{data.addTime}}</td>
          <td>{{data.modifyTime}}</td>
          <td><a href="javascript:;">编辑</a>&nbsp;&nbsp;<a ng-click="delete(data.id)" href="javascript:;">删除</a></td>
        </tr>
      </table>
    </div>

</div>