<div class="page-content clearfix company-list">
  <div class="pare-head clearfix">
    <dl class="pull-left">
      <dt>公司分析</dt>
      <dd>
        <ol class="crumbs clearfix">
          <li>公司分析</li>
          <li> <i class="fa fa-chevron-right"></i> </li>
          <li>目标公司</li>
        </ol>
      </dd>
    </dl>
  </div>
  <div class="list-con con-wrap con-wrap-border">
    <h3>各岗位目标公司分析 客户：{{customerName}}</h3>
    <div class="list-con-head clearfix">
      <a href="#company_list"><input type="button" class="btn pull-left" value="返回公司列表" /></a>
      <div class="pull-right search-btn">
        <i class="search-icon"></i>
        <input class="btn" type="button" value="搜索" ng-click="search()"/>
      </div>
      <div class="select pull-right" ng-click="showList($event)">
        <input type="text" placeholder="按部门名称查找" readonly>
        <ol>
          <li ng-click="choseList(list,companyList,$event)"><a href="javascript:;">全部</a></li>
          <li ng-click="choseList(list,companyList,$event)" ng-repeat="list in searchList"><a href="javascript:;">{{list}}</a></li>
        </ol>
      </div>
    </div>
    <table class="list-con-table table">
      <tr>
        <th>序号</th>
        <th>部门</th>
        <th>目标公司</th>
        <th>目标公司部门</th>
        <th>简历数量</th>
      </tr>
      <tr ng-repeat="data in targetList">
        <td>{{data.num}}</td>
        <td><a href="javascript:;">{{data.comDept}}</a></td>
        <td><a href="javascript:;">{{data.targetCom}}</a></td>
        <td>{{data.targetDept}}</td>
        <td>{{data.resumeCount}}</td>
      </tr>
    </table>
  </div>
</div>